name: Gateway CI

on:
  push:
    paths:
      - "api-gateway/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build API Gateway Docker Image
        run: docker build -t api-gateway ./api-gateway
